.global-container {
    display: flex;
    align-items: flex-start;
}

.second-container {
    width: calc(100% - 330px);

    margin: 40px 48px 40px 290px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-students .number {
    width: 27px;
}

.table-students .fullName {
    min-width: 350px;
}

.table-students .group {
    max-width: 200px;
    margin-left: 24px;
    text-align: center;
}

.table-students .gender {
    width: 150px;
}

.table-students .class {
    width: 126px;
}

.table-students .birth {
    width: 159px;
}

.table-students .age {
    max-width: 193px;
}

.table-students .kyu {
    width: 121px;
}

.table-students .address {
    min-width: 350px;
}

.table-students .contacts {
    min-width: 224px;
}
