.global-container {
    display: flex;
    align-items: flex-start;

    height: 100vh;
}

.second-container {
    width: calc(100% - 242px);
    height: 80%;

    margin: 40px 48px 40px 290px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
