/* Basic style */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family), sans-serif;

    scrollbar-width: thin;
    scrollbar-color: #d6d6d6 #f1f1f1;
}

/* Стиль для всех скроллов на странице */
body::-webkit-scrollbar {
    width: 12px; /* Ширина вертикального скроллбара */
    height: 12px; /* Высота горизонтального скроллбара */
}

/* Стиль для «ползунка» вертикального и горизонтального скролла */
body::-webkit-scrollbar-thumb {
    background-color: #d6d6d6; /* Цвет ползунка */
    border-radius: 14px; /* Радиус скругления ползунка */
    background-clip: content-box; /* Обрезка фона */
}

/* Стиль при наведении на ползунок */
body::-webkit-scrollbar-thumb:hover {
    background-color: #d6d6d6; /* Изменение цвета ползунка при наведении */
}

/* Стиль для области, по которой двигается ползунок */
body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона области прокрутки */
    border-radius: 11px; /* Радиус скругления для области */
    width: 18px;
}

/* Стиль для области при наведении на скролл */
body::-webkit-scrollbar-track:hover {
    background: #e0e0e0; /* Цвет фона области при наведении */
}

body::-webkit-scrollbar-button {
    display: none;
}

/* Font */

@font-face {
    font-family: 'Vela Sans';
    src: url('/assets/fonts/VelaSans-Light.woff2') format('woff2'),
    url('/assets/fonts/VelaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('/assets/fonts/VelaSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/VelaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('/assets/fonts/VelaSans-Medium.woff2') format('woff2'),
    url('/assets/fonts/VelaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('/assets/fonts/VelaSans-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/VelaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('/assets/fonts/VelaSans-Bold.woff2') format('woff2'),
    url('/assets/fonts/VelaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Font-family */

    --font-family: "Vela Sans", sans-serif;

    /* Color */

    --text-black: #232323;
    --text-white: #fff;
    --text-secondary-grey: #999999;
    --text-disable-light-grey: #c2c2c2;
    --bg-red: #f93232;
    --bg-notifications: #fff5f5;
    --bg-white: #fff;
    --bg-grey: #F5F5F5;
    --bg-sidebar: #fafafa;
    --border-default: #ebebeb;
    --border-hover: #e0e0e0;
    --border-focused: #232323;
    --border-notifications: #ffd8d8;
    --primary-button-default: #232323;
    --primary-button-hover: #404040;
    --primary-button-focus: #5e5e5e;
    --secondary-button-default: #f5f5f5;
    --secondary-button-hover: #ebebeb;
    --secondary-button-focus: #e0e0e0;
    --button-disabled: #f5f5f5;

    /* Desktop font sizes */

    --font-headline-1-size: 56px;
    --font-headline-1-line-height: 130%;
    --font-headline-2-size: 48px;
    --font-headline-2-line-height: 130%;
    --font-headline-3-size: 40px;
    --font-headline-3-line-height: 130%;
    --font-headline-4-size: 32px;
    --font-headline-4-line-height: 130%;
    --font-headline-5-size: 26px;
    --font-headline-5-line-height: 140%;
    --font-headline-6-size: 20px;
    --font-headline-6-line-height: 140%;

    --font-body-1-size: 20px;
    --font-body-1-line-height: 160%;
    --font-body-2-size: 16px;
    --font-body-2-line-height: 160%;

    --font-description-size: 12px;
    --font-description-line-height: 160%;

    /* Mobile font sizes */

    --mobile-font-headline-1-size: 36px;
    --mobile-font-headline-1-line-height: 140%;
    --mobile-font-headline-2-size: 30px;
    --mobile-font-headline-2-line-height: 140%;
    --mobile-font-headline-3-size: 24px;
    --mobile-font-headline-3-line-height: 140%;
    --mobile-font-headline-4-size: 20px;
    --mobile-font-headline-4-line-height: 140%;
    --mobile-font-headline-5-size: 16px;
    --mobile-font-headline-5-line-height: 160%;

    --mobile-font-body-1-size: 16px;
    --mobile-font-body-1-line-height: 160%;
    --mobile-font-body-2-size: 14px;
    --mobile-font-body-2-line-height: 160%;

    /* Letter spacing */

    --global-letter-spacing: 0.01em;

    /* Font weight */

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --font-weight-light: 300;
}

/* Desktop font headlines and body */

.desktop-headline-1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-1-size);
    line-height: var(--font-headline-1-line-height);
}

.desktop-headline-2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-2-size);
    line-height: var(--font-headline-2-line-height);
}

.desktop-headline-3 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-3-size);
    line-height: var(--font-headline-3-line-height);
}

.desktop-headline-4 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-4-size);
    line-height: var(--font-headline-4-line-height);
}

.desktop-headline-5 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-5-size);
    line-height: var(--font-headline-5-line-height);
}

.desktop-headline-6 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-headline-6-size);
    line-height: var(--font-headline-6-line-height);
}

.desktop-body-1 {
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-1-size);
    line-height: var(--font-body-1-line-height);
}

.desktop-body-2 {
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-2-size);
    line-height: var(--font-body-2-line-height);
}

.desktop-description {
    font-weight: var(--font-weight-light);
    font-size: var(--font-description-size);
    line-height: var(--font-description-line-height);
}

.desktop-desc-group {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-description-size);
    line-height: var(--font-description-line-height);
    color: var(--text-white);
}

/* Mobile font headlines and body */

.mobile-headline-1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--mobile-font-headline-1-size);
    line-height: var(--mobile-font-headline-1-line-height);
}

.mobile-headline-2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--mobile-font-headline-2-size);
    line-height: var(--mobile-font-headline-2-line-height);
}

.mobile-headline-3 {
    font-weight: var(--font-weight-medium);
    font-size: var(--mobile-font-headline-3-size);
    line-height: var(--mobile-font-headline-3-line-height);
}

.mobile-headline-4 {
    font-weight: var(--font-weight-medium);
    font-size: var(--mobile-font-headline-4-size);
    line-height: var(--mobile-font-headline-4-line-height);
}

.mobile-headline-5 {
    font-weight: var(--font-weight-medium);
    font-size: var(--mobile-font-headline-5-size);
    line-height: var(--mobile-font-headline-5-line-height);
}

.mobile-body-1 {
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-body-1-size);
    line-height: var(--mobile-font-body-1-line-height);
}

.mobile-body-2 {
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-body-2-size);
    line-height: var(--mobile-font-body-2-line-height);
}

.desktop-headline-1,
.desktop-headline-2,
.desktop-headline-3,
.desktop-headline-4,
.desktop-headline-5,
.desktop-headline-6,
.desktop-body-1,
.desktop-body-2,
.desktop-description,
.mobile-headline-1,
.mobile-headline-2,
.mobile-headline-3,
.mobile-headline-4,
.mobile-headline-5,
.mobile-body-1,
.mobile-body-2 {
    font-family: var(--font-family), sans-serif;
    letter-spacing: var(--global-letter-spacing);
    color: var(--text-black);
}

/* Desktop button text style */

.desktop-primary-button-text-active {
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-1-size);
    color: var(--text-white);
}

.desktop-secondary-button-text-active {
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-1-size);
    color: var(--text-black);
}

.desktop-button-text-disabled {
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-1-size);
    color: var(--text-disable-light-grey);
}

/* Mobile button text style */

.mobile-primary-button-text-active {
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-body-1-size);
    line-height: var(--mobile-font-body-1-line-height);
    color: var(--text-white);
}

.mobile-secondary-button-text-active {
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-body-1-size);
    line-height: var(--mobile-font-body-1-line-height);
    color: var(--text-black);
}

.mobile-button-disabled {
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-body-1-size);
    line-height: var(--mobile-font-body-1-line-height);
    color: var(--text-disable-light-grey);
}

.desktop-primary-button-text-active,
.desktop-secondary-button-text-active,
.desktop-button-text-disabled,
.mobile-primary-button-text-active,
.mobile-secondary-button-text-active,
.mobile-button-disabled {
    font-family: var(--font-family), sans-serif;
    letter-spacing: var(--global-letter-spacing);
}

/* Button style */

.primary-button {
    background: var(--primary-button-default);
}

.primary-button:hover {
    background: var(--primary-button-hover);

}

.primary-button:active {
    background: var(--primary-button-focus);
}

.secondary-1-button {
    background: var(--secondary-button-default);
}

.secondary-1-button:hover {
    background: var(--secondary-button-hover);
}

.secondary-1-button:active {
    background: var(--secondary-button-focus);
}

.secondary-2-button {
    border: 1px solid var(--border-focused);
    border-radius: 10px;
    padding: 12px 32px;
    cursor: pointer;

    background: none;
}

.secondary-2-button:hover {
    background: var(--secondary-button-default);
}

.secondary-2-button:active {
    background: var(--secondary-button-hover);
}

.tertiary-button {
    border: 1px solid var(--border-default);
    border-radius: 10px;
    cursor: pointer;

    background: none;
}

.tertiary-button:hover {
    border: 1px solid var(--border-hover);
    background: var(--secondary-button-default);
}

.tertiary-button:active {
    background: var(--secondary-button-hover);
}

.desktop-button-disabled {
    background: var(--button-disabled);
}

.secondary-2-button-disabled {
    border: 1px solid var(--text-disable-light-grey);
    border-radius: 10px;
    cursor: pointer;
}

.tertiary-button-disabled {
    color: var(--text-disable-light-grey);
    cursor: default;

    border: 1px solid var(--border-default);
    border-radius: 10px;
    padding: 12px 32px;

    background: none;
}

.primary-button,
.secondary-1-button,
.tertiary-button-icon,
.desktop-button-disabled {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 32px;
}

/* Icon Desktop style */

.tertiary-button-icon {
    background: none;
}

.tertiary-button-icon:hover {
    background: var(--secondary-button-hover);
}

.tertiary-button-icon:active {
    background: var(--secondary-button-focus);
}

/* Icon Mobile style */

/* Input style */

.input-default {
    border: 1px solid var(--bg-grey);
}

.input-default:hover {
    border: 1px solid var(--border-hover);
    border-radius: 6px;
}

.input-default:focus {
    outline: none;
    border: 1px solid var(--border-focused);
    border-radius: 6px;

    color: var(--text-black);
}

.input-default:disabled {
    outline: var(--bg-grey);
    border: 1px solid var(--bg-grey);
    border-radius: 6px;

    color: var(--text-disable-light-grey);
}

.input-error {
    outline: var(--bg-red);
    border: 1px solid var(--bg-red);
}

.input-default,
.input-error {
    font-family: var(--font-family), sans-serif;
    font-weight: var(--font-weight-light);
    font-size: var(--font-body-2-size);
    line-height: var(--font-body-2-line-height);
    letter-spacing: var(--global-letter-spacing);
    color: var(--text-secondary-grey);

    background: var(--bg-grey);
    padding: 15px 20px;
    border-radius: 6px;
}

/* stroke tables */

.stroke-table-groups {
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
}

.stroke-table-groups:hover td {
    background: var(--bg-grey);
}

.stroke-table-groups:active td {
    background: var(--bg-grey);
}

.stroke-table-groups:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stroke-table-groups:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stroke-table-groups:active td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stroke-table-groups:active td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* stroke students */

.stroke-table-students {
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
}

.stroke-table-students:hover td {
    background: var(--bg-grey);
}

.stroke-table-students:active td {
    background: var(--bg-grey);
}

.stroke-table-students:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stroke-table-students:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stroke-table-students:active td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stroke-table-students:active td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* dropdown */

.dropdown-menu {
    position: absolute;
    right: 69px;

    border-radius: 10px;
    border: 1px solid var(--border-default);
    box-shadow: 0 4px 8px 0 rgba(35, 35, 35, 0.16);
    background: var(--bg-white);
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    width: 160px;
    z-index: 10;

    animation: fadeIn 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu button {
    background: none;

    border: none;
    border-radius: 10px;

    padding: 10px 16px;
    margin-left: 4px;
    margin-right: 4px;

    text-align: left;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background: var(--secondary-button-default);
}

.dropdown-menu button:active {
    background: var(--border-default);
}

.custom-checkbox-mini {
    border-radius: 5px;
    padding: 4px;
    width: 20px;
    height: 20px;
    background: var(--text-black);

    appearance: none;
    position: relative;
    border: none;
    transition: 500ms;

    margin-right: 12px;
    top: 5px;
    align-items: center;

    cursor: pointer;
}

.custom-checkbox-mini::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;

    background-image: url("../assets/check.svg");
    background-repeat: no-repeat;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-checkbox-mini:checked::after {
    opacity: 1;
    width: 20px;
    height: 20px;
}

.custom-checkbox-mini:not(:checked) {
    border-radius: 5px;
    background: var(--bg-white);
    border: 1px solid var(--border-default);
}

.custom-checkbox-mini:not(:checked):hover {
    border-radius: 5px;
    background: var(--bg-white);
    border: 1px solid var(--text-black);
}

.custom-checkbox-mini:disabled {
    border-radius: 5px;
    background: var(--bg-white);
    border: 1px solid var(--border-default);
    cursor: not-allowed;
}

.custom-checkbox-mini:disabled::after {
    filter: grayscale(100%);
}

.custom-checkbox-mini:hover {
    background: #404040;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
