<div class="global-container">
    <app-sidebar/>

    <div class="second-container">
        <div class="header">
            <div class="second-header">
                <div [style.background-color]="groupById?.hexColor" class="ellipse"></div>
                <p class="desktop-headline-4">{{ groupById?.name }}</p>
            </div>
        </div>

        <div class="input-container">
            <input [(ngModel)]="search" class="input-default search" placeholder="" type="text">
            <img alt="Поиск" class="search-icon" height="24" ngSrc="assets/search.svg" width="24"/>
        </div>

        <div class="table-container-checks">
            <table>
                <thead>
                <tr>
                    <th class="desktop-headline-6">ФИО</th>
                    <th class="desktop-headline-6">Фото</th>
                    <th (click)="toggleStatusSort()" class="desktop-headline-6">
                        <div class="sort">
                            <p>Статус</p>
                            <img alt="Сортировка" class="icon" height="24" ngSrc="{{ getStatusSortIcon() }}"
                                 width="24">
                        </div>
                    </th>
                    <th class="desktop-headline-6">Сумма</th>
                    <th class="desktop-headline-6">Дата</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="openModalInfo(check.id, check.amount)"
                    *ngFor="let check of searchChecks()"
                    class="stroke-table-groups">
                    <td class="desktop-body-1">{{ check.student.fullName }}</td>
                    <td>
                        <img alt="Receipt Image" class="check-img" height="54" ngSrc="{{ check.imageUrl }}"
                             width="54"/>
                    </td>
                    <td class="desktop-description">
                        <div [style.background-color]="getBackgroundStatus(check, check.isAccepted)"
                             [style.color]="getTitleStatusStyle(check, check.isAccepted)" class="status">
                            {{ getTitleStatus(check, check.isAccepted) }}
                        </div>
                    </td>
                    <td class="desktop-body-1">{{ check.amount }}</td>
                    <td class="desktop-body-1">{{ formatter.formatDateFull(check.uploadDate) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-check-info
    #checkInfoComponent
    (close)="closeModalInfo()"
    (confirmAction)="getReceipts(this.groupId)"
    (visibleDecline)="openModalComment()"
    (visibleEdit)="openModalEdit()"
    [amount]="this.amount"
    [id]="this.id"
    [isVisible]="isModalInfoVisible"
>
</app-check-info>

<app-edit-amount
    (close)="closeModalEdit()"
    (confirmAction)="updateReceipt(this.id)"
    [formGroupReceipt]="modalFormGroupEdit"
    [isVisible]="isModalEditVisible"
>
</app-edit-amount>

<app-decline-comment
    (close)="closeModalComment()"
    (confirmAction)="verifyDeclineReceipt(this.id); getReceipts(this.groupId)"
    [formGroupReceipt]="modalFormGroupComment"
    [isVisible]="isModalCommentVisible"
>
</app-decline-comment>
