<nav class="sidebar">
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isScheduleClicked']"
                    class="sidebar-router"
                    routerLink="/dashboard/schedule"
                    routerLinkActive
            >
                <img alt="Расписание"
                     class="sidebar-item-img"
                     height="16"
                     ngSrc="/assets/schedule-icon.svg"
                     width="16">
                <p class="desktop-body-1">Расписание</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isJournalClicked']"
                    class="sidebar-router"
                    routerLink="/dashboard/journal"
                    routerLinkActive
            >
                <img alt="Журнал"
                     class="sidebar-item-img"
                     height="16"
                     ngSrc="/assets/journal-icon.svg"
                     width="16">
                <p class="desktop-body-1">Журнал</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isGroupsClicked']"
                    class="sidebar-router"
                    routerLink="/dashboard/groups"
                    routerLinkActive
            >
                <img alt="Команды"
                     class="sidebar-item-img"
                     height="16"
                     ngSrc="/assets/groups-icon.svg"
                     width="16">
                <p class="desktop-body-1">Группы</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isStudentsClicked']"
                    class="sidebar-router"
                    routerLink="/dashboard/students"
                    routerLinkActive
            >
                <img alt="Ученики"
                     class="sidebar-item-img"
                     height="16"
                     ngSrc="/assets/students-icon.svg"
                     width="16">
                <p class="desktop-body-1">Ученики</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isChecksClicked']"
                    class="sidebar-router"
                    routerLink="/dashboard/checks"
                    routerLinkActive
            >
                <img alt="Чеки"
                     class="sidebar-item-img"
                     height="16"
                     ngSrc="/assets/checks-icon.svg"
                     width="16">
                <p class="desktop-body-1">Чеки</p>
            </button>
        </li>
    </ul>

    <div class="sidebar-menu-list-item-profile">
        <button [class.active]="statesSidebar['isProfileClicked']"
                class="sidebar-router profile"
                routerLink="/dashboard/profile"
                routerLinkActive
        >
            <img alt="Профиль"
                 class="sidebar-item-img"
                 height="16"
                 ngSrc="/assets/profile-icon.svg"
                 width="16">
            <p class="desktop-body-1">Профиль</p>
        </button>
    </div>
</nav>
