<div class="global-container">
    <app-sidebar/>

    <div class="second-container">
        <div class="header">
            <div class="second-header">
                <p class="desktop-headline-4">Расписание</p>
            </div>

            <button (click)="toggleSidebar()" class="tertiary-button create">
                <img alt="Создать" height="24" ngSrc="assets/edit-05.svg" width="24">
            </button>
        </div>

        <app-loading [isLoading]="isLoading"></app-loading>

        <div *ngIf="!isLoading">
            <div class="button-week">
                <button (click)="changeWeek(-1)" class="secondary-2-button left">
                    <img alt="назад" height="24" ngSrc="assets/chevron-left.svg" width="24">
                </button>

                <button (click)="changeWeek(1)" class="secondary-2-button right">
                    <img alt="назад" height="24" ngSrc="assets/chevron-right.svg" width="24">
                </button>

                <p class="desktop-headline-6">{{ currentWeek }}</p>
            </div>

            <div class="calendar">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let day of weekDays" [class.today-th]="day.isToday">
                            <p [class.today-th]="day.isToday" class="desktop-headline-6 inactive">{{ day.day }}</p>
                            <p [class.today-th]="day.isToday" class="desktop-description inactive">{{ day.weekDay }}</p>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let slot of timeSlots">
                        <td class="desktop-description time-slot">{{ slot }}</td>
                        <td *ngFor="let day of weekDays" [class.today]="day.isToday" class="table-cell">
                            <div *ngIf="scheduleData!.length > 0">
                                <div (click)="toggleSidebarInfo(item.id, item.startTime)"
                                     *ngFor="let item of getScheduleForSlot(day.date, slot)"
                                     [ngStyle]="{'top': calculateTop(item.startTime) + 'px', 'height': item.duration + 'px'}"
                                     [style.background]="item.colorKey.background"
                                     [style.border-left-color]="item.colorKey.sideRectangle"
                                     class="schedule-item">
                                    <p [style.color]="item.colorKey.time"
                                       class="time">
                                        {{ _formatter.formatTime(item.startTime) + " - " + _formatter.formatTime(item.endTime) }}
                                    </p>
                                    <p [style.color]="item.colorKey.nameTeam"
                                       class="name-team">
                                        {{ item.groupName }}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div *ngIf="isSidebarOpen" class="sidebar-create">
        <app-practice-create
            (confirmAction)="loadSchedule()"
            (visibleModal)="toggleSidebar()">
        </app-practice-create>
    </div>

    <div *ngIf="isSidebarInfoOpen" class="sidebar">
        <app-practice-info
            (attendance)="toggleSidebarAttendance(practiceId, startDate)"
            (close)="closeSidebarInfo()"
            [practice]="practice">
        </app-practice-info>
    </div>

    <div *ngIf="isSidebarAttendanceOpen" class="sidebar-attendance">
        <app-practice-attendance
            (close)="closeSidebarAttendance()"
            [practiceId]="practiceId"
            [practice]="practice"
            [startDate]="startDate">
        </app-practice-attendance>
    </div>
</div>
