<div class="global-container">
    <app-sidebar/>

    <div class="second-container">
        <div class="header">
            <div class="second-header">
                <p class="desktop-headline-4">Профиль</p>
            </div>

            <button (click)="deleteCookie()"
                    class="secondary-2-button desktop-secondary-button-text-active">
                <p>Выйти из аккаунта</p>
            </button>
        </div>

        <div class="desktop-headline-5 fullName">{{ infoMe?.userInfo?.fullName }}</div>

        <div class="info">
            <div class="desktop-headline-6 headline">Личные данные</div>

            <div class="info-container">
                <p class="desktop-body-2 info-headline">Телефон</p>
                <p class="desktop-body-1">{{ _formatter.formatPhoneNumber(infoMe!.trainerInfo!.phone!) || 'Отсутствует' }}</p>
            </div>

            <div>
                <div class="desktop-headline-6 headline-2">Данные для входа</div>

                <div class="info-container">
                    <p class="desktop-body-2 info-headline">Логин</p>
                    <p class="desktop-body-1">{{ infoMe?.credentials?.login }}</p>
                </div>

                <div class="info-container">
                    <p class="desktop-body-2 info-headline">Пароль</p>
                    <p class="desktop-body-1">{{ infoMe?.credentials?.password }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
